$body-font-family: 'EliceDigitalBaeum', serif;
$data-table-regular-header-font-size: 24px; //테이블 헤더 글씨크기

$color-main: #1565C0;
$color-gray-1: #dfe2e7; //타이틀 헤더
$color-gray-2: #f6f9fc; //테이블 헤더
$color-gray-3: #8898aa; //테이블 헤더 글씨색
